.block_page {
    display: flex;
    justify-content: center;
    height: 75vh;
    align-items: center;
  }
  
  .block_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #2fffe5;
    border-radius: 10px;
    padding: 4rem;
    width: 700px;
  }
  
  .block_image {
    margin-bottom: 1rem;
  }
  
  .block_size {
    margin-bottom: 1rem;
  }
  
  .block_index {
    margin-bottom: 1rem;
  }
  
  .prev_block {
    margin-bottom: 1rem;
    font-size: 15px;
  }

  .block_span {
    color: rgb(20, 235, 255);
  }